<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
             <form #employeeform="ngForm" (ngSubmit)="onSubmit()">
              <h1 class="text-center">Employee Leave Application Form</h1>
              
              <div class="form-group">
                <label for="Employeename">Employee Name*</label>
                <input pattern="^[A-Za-z ]+$"
                  type="text" 
                  required 
                  class="form-control" 
                  ngModel 
                  #Employeename="ngModel" 
                  name="Employeename">
                  <strong class="text-danger d-block mt-2" *ngIf="Employeename.touched && Employeename.hasError('required')">
                    This field is required !!!
                  </strong>
                   <strong class="text-danger d-block mt-2" *ngIf="Employeename.dirty && Employeename.hasError('pattern')">
                    This field accept only alphabet
                  </strong>
              </div>


               <div class="form-group">
                <label for="EmpId">EmpId*</label>
                <input type="text" 
                required 
                class="form-control" 
                ngModel 
                #EmpId="ngModel" 
                name="EmpId">
                      <strong class="text-danger d-block mt-2" *ngIf="EmpId.touched && EmpId.hasError('required')">
                    This field is required!!!
                  </strong>
              </div>

              <div class="form-group">
                <label for="">Leave Type*</label>
                <select 
                required name="leave" 
                class="form-control" 
                ngModel #leave="ngModel" 
                id="leave">
                  <option [value]="leave" *ngFor="let leave of LeaveArr">
                    {{leave}}
                  </option>
                </select>
                 <strong class="text-danger d-block mt-2" *ngIf="leave.touched && leave.hasError('required')">
                    This field is required!!!
                  </strong>

              </div>
             
              <div class="form-group">
                <label for="FormDate">From Date*</label>
                <input 
                type="date" 
                class="form-control" 
                required ngModel 
                name="FormDate" 
                #FormDate="ngModel">
                 <strong class="text-danger d-block mt-2" *ngIf="FormDate.touched && FormDate.hasError('required')">
                    This field is required!!!
                  </strong>
              </div>
              

               <div class="form-group">
                <label for="ToDate">To Date*</label>
                <input 
                type="date" 
                class="form-control" 
                required 
                ngModel 
                name="ToDate" 
                #ToDate="ngModel">
                 <strong class="text-danger d-block mt-2" *ngIf="ToDate.touched && ToDate.hasError('required')">
                    This field is required!!!
                  </strong>

                   <strong class="text-danger d-block mt-2" *ngIf="FormDate.value &&ToDate.value && FormDate.value > ToDate.value">

                  pls enter valid date, can't accept the From Date Greater then To Date
                  </strong>


              </div>

                <div class="form-group">
                <label for="Reason">Reason*</label>
                <input 
                type="text" 
                minlength="20" 
                required 
                class="form-control" 
                ngModel 
                #Reason="ngModel" 
                name="Reason">
                        <strong class="text-danger d-block mt-2" *ngIf="Reason.touched && Reason.hasError('required')">
                        Reason is required !!! </strong>

                  <strong class="text-danger d-block mt-2" *ngIf="Reason.dirty && Reason.hasError('minlength')">
                   Reason must be at least 20 characters long 
                  </strong>
              </div>
              
                  <button class="btn btn-primary">Apply</button>
             </form>
          </div>
        </div>
            
        
    </div>
  </div>
